<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%=h page_title %></title>
  <%= stylesheet_link_tag 'pictrails' %>
  <%= yield :head %>
</head>
<body>
  <div id="wrapper">
    <h1><%= link_to this_webapp.webapp_name, "/" %></h1>
    <p class="description"><%= this_webapp.webapp_subtitle%></p>

      <%= yield %>
      <div id="footer">
        <p class="left">
          Copyright &copy; 2008 Your Name
        </p>
        <p class="right">
          powered by <a href="http://pictrails.rubyforge.org/">Pictrails</a>
          theme <a href="http://www.mantisatemplates.com/">Mantis-a-template</a>
        </p>
      </div>

  </div>
</body>
</html>
